body
{
	background-color:black;
	margin-left: 20%;
}

.food
{
	max-width: 70%;
	border: 2px solid black;
	border-radius: 10px;
	padding: 1%;
	background-color: white;
}

.left
{
	display: inline-block;
	border-right: 2px solid black;
	width: 60%;
	text-align: center;
	margin-right: 2%;
	padding-right: 2%;
}

.right
{
	vertical-align: top;
	display: inline-block;
	width: 25%;
}

.food_name
{
	font-size: 1.5em;
}

.food_img
{

}

.calories
{
	font-size: 1.5em;
	margin:0;
}

.calories::before
{
	content: "Calories: ";
}

.health_scale
{
	background-color: lightgreen;
	font-size: 1.5em;
	border: 2px solid black;
	border-radius: 50%;
	padding: 0% 5% 0% 5%;
	margin:0;
	display: inline-block;
}

@media screen and (max-width: 750px) {
	.food { max-width: 95%;}
	.right { width: 30%;}
	body { margin-left: 5%;}
}
